<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>My quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="sidebar">
        <nav>
            <div class="nav-wrapper deep-purple accent-1">
                <a href="/quizz" class="brand-logo center">Quizz</a>
                <ul class="left hide-on-med-and-down">
                   <li><a href="/quizz/new">Creer un quiz</a></li>
               </ul>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                <li><a href="{{ path('fos_user_profile_edit') }}">
                    Editer mon profil
                </a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a></li>

                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a href="{{url('fos_user_registration_register')}}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

{% for type, messages in app.session.flashBag.all %}
{% for message in messages %}
<div class="{{ type }}">
    {{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}
{% endfor %}

<div class="container">
    {% block body %}
    {% endblock body %}
</div>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
